header{
    color: aliceblue;
    text-align: center;
}

body{
    background-color: rgb(64, 64, 201);
    font: 15px 'Arial'

}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.485);


}

footer{
    color: aliceblue;
    text-align: center;
    font-style: italic;
}